/* Tailwind Setting */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Reset Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 
:root {
  color-scheme: dark;
} */

body {
  font-family: "IBM Plex Mono", "IBM Plex Sans KR", "sans-serif", monospace;
  background-color: #ffffff;
}

/* Nav */
.nav > ul > li > ul > li > a {
  padding: 10px;
  display: block;
  transition: all 0.2s;
}

.nav > ul > li > ul > li > a:hover {
  background-color: #eafcbb;
}
